nav {text-align: right;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;}

nav a {text-decoration: none;
        color: black;}

nav a:hover {color: rgb(245, 157, 245);}

header{text-align: left;
        background-color: rgb(245, 157, 245);
        background-repeat: no-repeat;
        font-family: 'Courier New', Courier, monospace;}

form{font-family: 'Courier New', Courier, monospace;}

h1 {height: auto;
    width: auto;
    font-size: 2em;
    color: black;
    padding: 20px;
    line-height: 250%;}

h2 {color: black;
    font-family: 'Courier New', Courier, monospace;}


.container{background-color: rgb(245, 157, 245);
            text-align: center;}

.container2{text-align: center;}

footer{text-align: center;
        background-color:  rgb(245, 157, 245);
        color: black;
        position: fixed;
        width: 100%;
        bottom: 0;}

.account {text-align: center;
            background-color: black;}
    
.account a {text-decoration: none;
            color: white;}

#gallery { display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; }

.zoom:hover{transform: scale(1.5);}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
