body {font-family: 'Courier New', Courier, monospace;
    background-color: #f8f9fa;
    padding-top: 60px;}

header {text-align: center;
    margin-bottom: 30px;
    background-color: rgb(245, 157, 245);
    font-family: 'Courier New', Courier, monospace;}

h1 {height: auto;
    width: auto;
    font-size: 2em;
    color: black;
    padding: 20px;
    line-height: 250%;
    font-family: 'Courier New', Courier, monospace;}

h2 {color: black;
    font-family: 'Courier New', Courier, monospace;}

nav {text-align: right;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;}

nav a {text-decoration: none;
        color: black;}

nav a:hover {color: rgb(245, 157, 245);}


form {font-family: 'Courier New', Courier, monospace;}

footer {text-align: center;
        margin-top: 100px;
        background-color:  rgb(245, 157, 245);
        color: black;}

.container{background-color: rgb(245, 157, 245);
            padding: 20px;
            border-radius: 10px;
            text-align: center;}

.container2{text-align: center;}

.account {text-align: center;
            background-color: black;}
    
.account a {text-decoration: none;
            color: white;}

#gallery { display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; }

.zoom:hover{transform: scale(1.5);}


.movie-image {width: 80%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;}